body {
	margin: 0;
	background-image: url("assets/starsky.jpg");
}
		
p {
	font-size: 20px;
}

#game{
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
    top: -260px;
}

#header{
	width: 500px;
	height: 80px;
	border: 1px solid #EEE;
	background-color:rgba(255,255,255,0.9);
	
	font-size: 50px;
	line-height: 80px;
	font-family: 'Bubblegum Sans', cursive;
	text-align: center;
	
	margin-top:35px;
	margin-left: auto;
	margin-right: auto;
}

#about{
	background-color:rgba(255,255,255,0.7);
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	padding: 20px;
	margin-bottom: 80px;
	font-family: 'Bubblegum Sans', cursive;
	position: relative;
    top: -260px;
}

#login{
	margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 350px;
    text-align: center;
    position: relative;
    top: 550px;
    background-color: white;
	font-size: 20px;
    font-family: 'Bubblegum Sans', cursive;
	border-radius: 15px;
    border: 8px solid #354E88;
}

#namefield{
	font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    margin-left: 5px;
    padding-left: 5px;
    width: 140px;
}

#namesubmit{
	margin-top: 15px;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    width: 250px;
	cursor:pointer;
}

#lobbyCode{
	padding: 20px;
    width: 350px;
    text-align: center;
    position: relative;
    top: 400px;
    left: 735px;
    background-color: white;
	font-size: 20px;
    font-family: 'Bubblegum Sans', cursive;
	border-radius: 15px;
    border: 8px solid #354E88;
	visibility: hidden;
}

#lobbyCodeField{
	font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    margin-left: 5px;
    padding-left: 5px;
    width: 140px;
}

#lobbyCodeSubmit{
	margin-top: 15px;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    width: 250px;
	cursor:pointer;
}